<li data-corners="false" data-shadow="false" data-iconshadow="true" data-inline="false" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="g" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-g"><div class="ui-btn-inner ui-li"><div class="ui-btn-text"><a href="#show/<%=id%>" class="ui-link-inherit"><a href="#show/<%=id%>"> <%=name%> <%=lastName%></a></a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span></div></li>
